@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

* {
    margin: 0;
}

body {
    background-color: hsl(185, 75%, 39%);
    font-family: "Kumbh Sans", sans-serif;
    font-size: 18px;
    background-image: url("/images/bg-pattern-top.svg"), url("/images/bg-pattern-bottom.svg");
    background-position: -100% -100%, 200% 200%;
    background-repeat: no-repeat;
    background-size: 70% 70%;
}

hr {
    opacity: .4;
}

.img-pattern-card {
    width: 20em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.user {
    width: 20em;
    height: 22.5em;
    border-radius: 20px;
    margin: 10em auto;
    background-color: white;
}

.pattern-img {
    height: 19vh;
    background-image: url("./images/bg-pattern-card.svg");
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.img-user {
    display: block;
    margin: -3.1em auto;
    border-radius: 50%;
    border: 4px solid white;
}

.user-info {
    margin-top: 4em;
    text-align: center;
    line-height: 30px;
    padding-bottom: 1.2rem;
}

.name-age strong {
    padding-right: 4px;
}

.gray {
    color: hsl(0, 0%, 59%);
}

.sm-text {
    font-size: 12px;
}

.user-number-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.count {
    padding: 1.4em;
    text-align: center;
    line-height: 20px;
}

.count strong {
    display: block;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}